body {
	font-family: $font-sans; 	
	color: $color-rain;
	transition: .3s;
}

h1 {
	font-family: $font-script;
	color: $color-cadetblue;
	font-size: 4rem;
	@include media-breakpoint-up(md) { 
		font-size: 6rem;
	}
}

h2.section {
	color: $color-blueblack;
	font-size: 1.4rem;
	line-height: 1.6rem;
}

h3 {
	font-size: 3rem;
	color: $color-cadetblue;
	font-family: $font-script;	
}

h4 {
	font-size: 1.1rem;
	color: $color-greenery;
	margin: 0;
}

.subhead {
	color: $color-greenery;
	margin: 1rem 0;
	font-size: 1.2rem;
	@include media-breakpoint-up(md) { 
		font-size: 1.5rem;
	}

}

video, img {
	max-width: 100%;
}

.bordered {
	border: 1px solid #DDD
}

.gogrey { background-color: #fdfdfd; }
.myelomastars { background-color: rgba(239,107,17,0.2); }
.terrier { background-color: rgba(173,238,33,0.2); }
.wildcat { background-color: rgba(118,59,204,0.2); }
.aizle { background-color: rgba(181,2,0,0.2); }
.tbe { background-color: rgba(2,12,11,0.2); }

.profile img {
	border-radius: 50%;
	max-width: 150px;
}

