@font-face {
    font-family: Selima;
    src: url("/assets/fonts/selima_.otf") format("opentype");
}

@font-face {
    font-family: 'amaticbold';
    src: url('/assets/fonts/amatic-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/amatic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amatic_scregular';
    src: url('/assets/fonts/amaticsc-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/amaticsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');


$color-blueblack: #021C1E;
$color-cadetblue: #004445;
$color-rain: #2C7873;
$color-greenery: #6FB98F;

.color-rain { color: $color-rain; }
.bg-rain { background-color: $color-rain; }

.color-blueblack { color: $color-blueblack; }
.bg-blueblack { background-color: $color-blueblack; }

.color-cadet { color: $color-cadetblue; }
.bg-cadet { background-color: $color-cadetblue; }

.color-greenery { color: $color-greenery; }
.bg-greenery { background-color: $color-greenery; }

.color-white { color: #FFF; } 
.bg-white { background-color: #FFF; }

.bg-gogrey { background-color: #fdfdfd; }
.bg-myelomastars { background-color: rgba(239,107,17,0.2); }
.bg-terrier { background-color: rgba(173,238,33,0.2); }
.bg-wildcat { background-color: rgba(118,59,204,0.2); }
.bg-aizle { background-color: rgba(181,2,0,0.2); }
.bg-tbe { background-color: rgba(2,12,11,0.2); }

// $font-script: 'Selima';
$font-script: 'amatic_scregular';
$font-sans: 'Open Sans', sans-serif;
