@font-face {
    font-family: Selima;
    src: url("/assets/fonts/selima_.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

$color-blueblack: #021C1E;
$color-cadetblue: #004445;
$color-rain: #2C7873;
$color-greenery: #6FB98F;

$font-script: 'Selima';
$font-sans: 'Open Sans', sans-serif;