body {
	font-family: $font-sans; 	
	color: $color-rain;
	transition: .3s;
}

h1 {
	font-family: $font-script;
	color: $color-cadetblue;
	font-size: 4rem;
	@include media-breakpoint-up(md) { 
		font-size: 6rem;
	}
}

.work {
	header {
		background-color: $color-cadetblue;
		a {
			color: #FFF;	
			opacity: .9;	
		}
	}
	h1 {
		padding: 1rem 0;
		margin: 0;
		font-size: 3rem;
	}
}

h2.section {
	color: $color-blueblack;
	font-size: 1.4rem;
	line-height: 1.6rem;
}

h3 {
	font-size: 3rem;
	color: $color-cadetblue;
	font-family: $font-script;	
}

h4 {
	font-size: 1.1rem;
	color: $color-greenery;
	margin: 0;
}

.subhead {
	color: $color-greenery;
	margin: 1rem 0;
	font-size: 1.2rem;
	@include media-breakpoint-up(md) { 
		font-size: 1.5rem;
	}

}

video, img {
	max-width: 100%;
}

.bordered {
	border: 1px solid #DDD;
}

.profile img {
	border-radius: 50%;
	max-width: 150px;
}

.mobiles img {
	border-radius: 5px;
 	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

a.unadorned {
	text-decoration: none;
}

.work header a {
	&:hover { opacity: 1; }
}